/*
*   0000000   0000000   000       0000000   00000000    0000000
*  000       000   000  000      000   000  000   000  000     
*  000       000   000  000      000   000  0000000    0000000 
*  000       000   000  000      000   000  000   000       000
*   0000000   0000000   0000000   0000000   000   000  0000000 
*/
 
color                  = {} 
color.black            = #000000
color.gray-most-dark   = #181818
color.gray-very-dark   = #282828
color.gray-dark        = #444444
color.gray-medium      = #555555
color.gray             = #888888
color.gray-bright      = #cccccc
color.gray-very-bright = #dddddd
color.white            = #ffffff
color.yellow-bright    = #ffff88
color.yellow           = #ffff00
color.orange-bright    = #ffaa00
color.orange           = #ff8800
color.red              = #ff0000
color.green-bright     = #00ff00
color.green            = #00aa00
color.green-dark       = #006600
color.blue-dark        = #2222aa
color.blue             = #4444ff
color.blue-medium      = #6666ff
color.blue-bright      = #8888ff
color.blue-very-bright = #aaaaff 

// main colors
color.comment        = #555555
color.background     = color.black
color.text           = color.gray-bright
color.comment-marker = color.gray-very-dark
color.comment-block  = color.orange
color.selection      = color.gray-dark
color.cursor-line    = color.gray-most-dark
color.variable       = color.yellow-bright

//______________________________________________________________________________________________________________________
/*
*   0000000   00000000  000   000  00000000  00000000    0000000   000    
*  000        000       0000  000  000       000   000  000   000  000    
*  000  0000  0000000   000 0 000  0000000   0000000    000000000  000    
*  000   000  000       000  0000  000       000   000  000   000  000    
*   0000000   00000000  000   000  00000000  000   000  000   000  0000000
*/
:host
atom-text-editor
atom-text-editor::shadow

    background: color.background
    color:      color.text
    .selection .region
        background-color: color.selection
        border-radius: 4px
    .text
    .source
        color: color.text
        
        .comment
            color: color.comment
            &.block
                color: color.comment-block
                
            &.punctuation
                color: color.comment-marker
                
            .selection
            &.selection
                color: color.orange
            
atom-text-editor::shadow

    //__________________________________________________________________________________________________________________
    /*
    *   0000000   000   000  000000000  000000000  00000000  00000000 
    *  000        000   000     000        000     000       000   000
    *  000  0000  000   000     000        000     0000000   0000000  
    *  000   000  000   000     000        000     000       000   000
    *   0000000    0000000      000        000     00000000  000   000
    */
    .gutter
        font-weight: bold
        background: color.black
        border-right: 1px solid color.gray-most-dark
            
        .line-number 
            color: color.gray-medium

            &.cursor-line-no-selection 
            &.cursor-line 
                background: color.cursor-line
                color: color.orange
            
    //__________________________________________________________________________________________________________________            
    /*
    *   0000000   000   000  000  0000000    00000000   0000000
    *  000        000   000  000  000   000  000       000     
    *  000  0000  000   000  000  000   000  0000000   0000000 
    *  000   000  000   000  000  000   000  000            000
    *   0000000    0000000   000  0000000    00000000  0000000 
    */
    .wrap-guide
        background-color: color.gray-very-dark

    .indent-guide
        color: color.gray-very-dark

    .invisible-character
        color: color.gray-dark
            
    .line.cursor-line
        background-color: color.cursor-line
    
    //__________________________________________________________________________________________________________________            
    /*
    *   0000000   0000000   000   000  00000000    0000000  00000000
    *  000       000   000  000   000  000   000  000       000     
    *  0000000   000   000  000   000  0000000    000       0000000 
    *       000  000   000  000   000  000   000  000       000     
    *  0000000    0000000    0000000   000   000   0000000  00000000
    */
    
    .text
    .source

        .meta.preprocessor.include.c     
        .meta.preprocessor.macro.c
            color: color.blue

        .entity
        .class
            color: color.yellow
            &.punctuation
                color: darken(color.orange-bright, 20)
        .attribute-name
            color: color.orange-bright
            
        .storage // class, var, etc
            color: color.blue-bright

        .function
            .name
                color: color.orange-bright
        
            &.storage // -> =>
                color: color.blue-medium
            &.support // require
                color: color.gray-dark
        .function-call .function
                color: color.blue-very-bright
                        
        .brace
            &.round  
                color: color.blue-medium
            &.square
                color: color.blue-bright                    
        
        .meta.selector.css
        .brace.curly
        .punctuation.property-list
            color: color.gray-dark
            
        .tag
            color: color.gray
        .tag.punctuation
        .terminator
            color: color.gray-dark

        .dictionary
            color: color.gray
            &.separator
                color: color.gray-dark
                &.key-value 
                    color: color.gray-dark
        
        .comma
            color: color.blue
        
        .period
            color: color.gray

        .constant
            color: color.blue-bright
            &.numeric  
                color: color.blue-very-bright
                
        .keyword // new, =, -, +, :, isnt, is
            &.operator 
                color: color.blue-medium
            &.control  // do, if, return, then, switch, for
                color: color.blue-bright

        .variable            
            &.parameter.function
                color: color.blue-bright

            color: color.blue-very-bright
                
        .string
            color: color.green
            &.punctuation.definition
                color: color.green-dark
                                
        .inherited-class
            color: color.yellow-bright
        
        .variable.assignment // local variables and dict keys
            color: color.variable
        .property-name
            color: color.blue-bright
        
        .separator.key-value   
            color: darken(color.variable, 50)
            
        &.stylus
            color: color.blue
