/*
*   0000000   0000000   000       0000000   00000000    0000000
*  000       000   000  000      000   000  000   000  000     
*  000       000   000  000      000   000  0000000    0000000 
*  000       000   000  000      000   000  000   000       000
*   0000000   0000000   0000000   0000000   000   000  0000000 
*/
/*
*   0000000   00000000  000   000  00000000  00000000    0000000   000    
*  000        000       0000  000  000       000   000  000   000  000    
*  000  0000  0000000   000 0 000  0000000   0000000    000000000  000    
*  000   000  000       000  0000  000       000   000  000   000  000    
*   0000000   00000000  000   000  00000000  000   000  000   000  0000000
*/
:host,
atom-text-editor,
atom-text-editor::shadow {
  background: #000;
  color: #ccc;
}
:host .selection .region,
atom-text-editor .selection .region,
atom-text-editor::shadow .selection .region {
  background-color: #444;
  border-radius: 4px;
}
:host .text,
atom-text-editor .text,
atom-text-editor::shadow .text,
:host .source,
atom-text-editor .source,
atom-text-editor::shadow .source {
  color: #ccc;
}
:host .text .comment,
atom-text-editor .text .comment,
atom-text-editor::shadow .text .comment,
:host .source .comment,
atom-text-editor .source .comment,
atom-text-editor::shadow .source .comment {
  color: #555;
}
:host .text .comment.block,
atom-text-editor .text .comment.block,
atom-text-editor::shadow .text .comment.block,
:host .source .comment.block,
atom-text-editor .source .comment.block,
atom-text-editor::shadow .source .comment.block {
  color: #f80;
}
:host .text .comment.punctuation,
atom-text-editor .text .comment.punctuation,
atom-text-editor::shadow .text .comment.punctuation,
:host .source .comment.punctuation,
atom-text-editor .source .comment.punctuation,
atom-text-editor::shadow .source .comment.punctuation {
  color: #282828;
}
:host .text .comment .selection,
atom-text-editor .text .comment .selection,
atom-text-editor::shadow .text .comment .selection,
:host .source .comment .selection,
atom-text-editor .source .comment .selection,
atom-text-editor::shadow .source .comment .selection,
:host .text .comment.selection,
atom-text-editor .text .comment.selection,
atom-text-editor::shadow .text .comment.selection,
:host .source .comment.selection,
atom-text-editor .source .comment.selection,
atom-text-editor::shadow .source .comment.selection {
  color: #f80;
}
atom-text-editor::shadow .gutter {
  font-weight: bold;
  background: #000;
  border-right: 1px solid #181818;
}
atom-text-editor::shadow .gutter .line-number {
  color: #555;
}
atom-text-editor::shadow .gutter .line-number.cursor-line-no-selection,
atom-text-editor::shadow .gutter .line-number.cursor-line {
  background: #181818;
  color: #f80;
}
atom-text-editor::shadow .wrap-guide {
  background-color: #282828;
}
atom-text-editor::shadow .indent-guide {
  color: #282828;
}
atom-text-editor::shadow .invisible-character {
  color: #444;
}
atom-text-editor::shadow .line.cursor-line {
  background-color: #181818;
}
atom-text-editor::shadow .text .meta.preprocessor.include.c,
atom-text-editor::shadow .source .meta.preprocessor.include.c,
atom-text-editor::shadow .text .meta.preprocessor.macro.c,
atom-text-editor::shadow .source .meta.preprocessor.macro.c {
  color: #44f;
}
atom-text-editor::shadow .text .entity,
atom-text-editor::shadow .source .entity,
atom-text-editor::shadow .text .class,
atom-text-editor::shadow .source .class {
  color: #ff0;
}
atom-text-editor::shadow .text .entity.punctuation,
atom-text-editor::shadow .source .entity.punctuation,
atom-text-editor::shadow .text .class.punctuation,
atom-text-editor::shadow .source .class.punctuation {
  color: #960;
}
atom-text-editor::shadow .text .attribute-name,
atom-text-editor::shadow .source .attribute-name {
  color: #fa0;
}
atom-text-editor::shadow .text .storage,
atom-text-editor::shadow .source .storage {
  color: #aaf;
}
atom-text-editor::shadow .text .function,
atom-text-editor::shadow .source .function {
  color: #aaf;
}
atom-text-editor::shadow .text .function.name,
atom-text-editor::shadow .source .function.name {
  color: #ff8;
}
atom-text-editor::shadow .text .function.storage,
atom-text-editor::shadow .source .function.storage {
  color: #66f;
}
atom-text-editor::shadow .text .function.support,
atom-text-editor::shadow .source .function.support {
  color: #888;
}
atom-text-editor::shadow .text .function-call,
atom-text-editor::shadow .source .function-call {
  color: #fa0;
}
atom-text-editor::shadow .text .function-call.arguments,
atom-text-editor::shadow .source .function-call.arguments {
  color: #aaf;
}
atom-text-editor::shadow .text .function.parameter,
atom-text-editor::shadow .source .function.parameter {
  color: #fa0;
}
atom-text-editor::shadow .text .brace.round,
atom-text-editor::shadow .source .brace.round {
  color: #66f;
}
atom-text-editor::shadow .text .meta.structure.list,
atom-text-editor::shadow .source .meta.structure.list,
atom-text-editor::shadow .text .meta.item-access,
atom-text-editor::shadow .source .meta.item-access,
atom-text-editor::shadow .text .brace.square,
atom-text-editor::shadow .source .brace.square {
  color: #88f;
}
atom-text-editor::shadow .text .meta.selector.css,
atom-text-editor::shadow .source .meta.selector.css,
atom-text-editor::shadow .text .brace.curly,
atom-text-editor::shadow .source .brace.curly,
atom-text-editor::shadow .text .punctuation.property-list,
atom-text-editor::shadow .source .punctuation.property-list {
  color: #444;
}
atom-text-editor::shadow .text .tag,
atom-text-editor::shadow .source .tag {
  color: #888;
}
atom-text-editor::shadow .text .tag.punctuation,
atom-text-editor::shadow .source .tag.punctuation,
atom-text-editor::shadow .text .terminator,
atom-text-editor::shadow .source .terminator {
  color: #444;
}
atom-text-editor::shadow .text .dictionary,
atom-text-editor::shadow .source .dictionary {
  color: #888;
}
atom-text-editor::shadow .text .dictionary.separator,
atom-text-editor::shadow .source .dictionary.separator {
  color: #444;
}
atom-text-editor::shadow .text .dictionary.separator.key-value,
atom-text-editor::shadow .source .dictionary.separator.key-value {
  color: #444;
}
atom-text-editor::shadow .text .punctuation.separator.parameters,
atom-text-editor::shadow .source .punctuation.separator.parameters,
atom-text-editor::shadow .text .comma,
atom-text-editor::shadow .source .comma {
  color: #44f;
}
atom-text-editor::shadow .text .period,
atom-text-editor::shadow .source .period {
  color: #888;
}
atom-text-editor::shadow .text .constant,
atom-text-editor::shadow .source .constant {
  color: #88f;
}
atom-text-editor::shadow .text .constant.numeric,
atom-text-editor::shadow .source .constant.numeric {
  color: #aaf;
}
atom-text-editor::shadow .text .keyword.operator,
atom-text-editor::shadow .source .keyword.operator {
  color: #66f;
}
atom-text-editor::shadow .text .keyword.control,
atom-text-editor::shadow .source .keyword.control {
  color: #88f;
}
atom-text-editor::shadow .text .keyword.control.import,
atom-text-editor::shadow .source .keyword.control.import {
  color: #888;
}
atom-text-editor::shadow .text .variable,
atom-text-editor::shadow .source .variable {
  color: #aaf;
}
atom-text-editor::shadow .text .variable.parameter.function,
atom-text-editor::shadow .source .variable.parameter.function {
  color: #88f;
}
atom-text-editor::shadow .text .string,
atom-text-editor::shadow .source .string {
  color: #0a0;
}
atom-text-editor::shadow .text .string.punctuation.definition,
atom-text-editor::shadow .source .string.punctuation.definition {
  color: #060;
}
atom-text-editor::shadow .text .inherited-class,
atom-text-editor::shadow .source .inherited-class {
  color: #ff8;
}
atom-text-editor::shadow .text .variable.assignment,
atom-text-editor::shadow .source .variable.assignment {
  color: #ff8;
}
atom-text-editor::shadow .text .property-name,
atom-text-editor::shadow .source .property-name {
  color: #88f;
}
atom-text-editor::shadow .text .separator.key-value,
atom-text-editor::shadow .source .separator.key-value {
  color: #880;
}
atom-text-editor::shadow .text.stylus,
atom-text-editor::shadow .source.stylus {
  color: #44f;
}
