/*
*   0000000   0000000   000       0000000   00000000    0000000
*  000       000   000  000      000   000  000   000  000     
*  000       000   000  000      000   000  0000000    0000000 
*  000       000   000  000      000   000  000   000       000
*   0000000   0000000   0000000   0000000   000   000  0000000 
*/
/*
*   0000000   00000000  000   000  00000000  00000000    0000000   000    
*  000        000       0000  000  000       000   000  000   000  000    
*  000  0000  0000000   000 0 000  0000000   0000000    000000000  000    
*  000   000  000       000  0000  000       000   000  000   000  000    
*   0000000   00000000  000   000  00000000  000   000  000   000  0000000
*/
atom-text-editor,
atom-text-editor.editor {
  background: #000;
  color: #ccc;
}
atom-text-editor .selection .region,
atom-text-editor.editor .selection .region {
  background-color: #444;
  border-radius: 4px;
}
atom-text-editor .syntax--text,
atom-text-editor.editor .syntax--text,
atom-text-editor .syntax--source,
atom-text-editor.editor .syntax--source {
  color: #ccc;
}
atom-text-editor .syntax--text .syntax--comment,
atom-text-editor.editor .syntax--text .syntax--comment,
atom-text-editor .syntax--source .syntax--comment,
atom-text-editor.editor .syntax--source .syntax--comment {
  color: #555;
}
atom-text-editor .syntax--text .syntax--comment.syntax--block,
atom-text-editor.editor .syntax--text .syntax--comment.syntax--block,
atom-text-editor .syntax--source .syntax--comment.syntax--block,
atom-text-editor.editor .syntax--source .syntax--comment.syntax--block {
  color: #555;
}
atom-text-editor .syntax--text .syntax--comment.syntax--punctuation,
atom-text-editor.editor .syntax--text .syntax--comment.syntax--punctuation,
atom-text-editor .syntax--source .syntax--comment.syntax--punctuation,
atom-text-editor.editor .syntax--source .syntax--comment.syntax--punctuation {
  color: #282828;
}
atom-text-editor .syntax--text .syntax--comment .selection,
atom-text-editor.editor .syntax--text .syntax--comment .selection,
atom-text-editor .syntax--source .syntax--comment .selection,
atom-text-editor.editor .syntax--source .syntax--comment .selection,
atom-text-editor .syntax--text .syntax--comment.selection,
atom-text-editor.editor .syntax--text .syntax--comment.selection,
atom-text-editor .syntax--source .syntax--comment.selection,
atom-text-editor.editor .syntax--source .syntax--comment.selection {
  color: #f80;
}
atom-text-editor.editor .gutter {
  font-weight: bold;
  background: #000;
  border-right: 1px solid #181818;
}
atom-text-editor.editor .gutter .line-number {
  color: #555;
}
atom-text-editor.editor .gutter .line-number.cursor-line-no-selection,
atom-text-editor.editor .gutter .line-number.cursor-line {
  background: #181818;
  color: #f80;
}
atom-text-editor.editor .wrap-guide {
  background-color: #282828;
}
atom-text-editor.editor .indent-guide {
  color: #282828;
}
atom-text-editor.editor .invisible-character {
  color: #444;
}
atom-text-editor.editor .line.cursor-line {
  background-color: #181818;
}
atom-text-editor.editor .syntax--text .syntax--meta.syntax--preprocessor.syntax--include.syntax--c,
atom-text-editor.editor .syntax--source .syntax--meta.syntax--preprocessor.syntax--include.syntax--c,
atom-text-editor.editor .syntax--text .syntax--meta.syntax--preprocessor.syntax--macro.syntax--c,
atom-text-editor.editor .syntax--source .syntax--meta.syntax--preprocessor.syntax--macro.syntax--c {
  color: #44f;
}
atom-text-editor.editor .syntax--text .syntax--entity,
atom-text-editor.editor .syntax--source .syntax--entity,
atom-text-editor.editor .syntax--text .syntax--class,
atom-text-editor.editor .syntax--source .syntax--class {
  color: #ff0;
}
atom-text-editor.editor .syntax--text .syntax--entity.syntax--punctuation,
atom-text-editor.editor .syntax--source .syntax--entity.syntax--punctuation,
atom-text-editor.editor .syntax--text .syntax--class.syntax--punctuation,
atom-text-editor.editor .syntax--source .syntax--class.syntax--punctuation {
  color: #960;
}
atom-text-editor.editor .syntax--text .syntax--attribute-name,
atom-text-editor.editor .syntax--source .syntax--attribute-name {
  color: #fa0;
}
atom-text-editor.editor .syntax--text .syntax--storage,
atom-text-editor.editor .syntax--source .syntax--storage {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--function,
atom-text-editor.editor .syntax--source .syntax--function {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--function.syntax--name,
atom-text-editor.editor .syntax--source .syntax--function.syntax--name {
  color: #ff8;
}
atom-text-editor.editor .syntax--text .syntax--function.syntax--storage,
atom-text-editor.editor .syntax--source .syntax--function.syntax--storage {
  color: #66f;
}
atom-text-editor.editor .syntax--text .syntax--function.syntax--support,
atom-text-editor.editor .syntax--source .syntax--function.syntax--support {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--function-call,
atom-text-editor.editor .syntax--source .syntax--function-call {
  color: #fa0;
}
atom-text-editor.editor .syntax--text .syntax--function-call.syntax--arguments,
atom-text-editor.editor .syntax--source .syntax--function-call.syntax--arguments {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--function.syntax--parameter,
atom-text-editor.editor .syntax--source .syntax--function.syntax--parameter {
  color: #fa0;
}
atom-text-editor.editor .syntax--text .syntax--brace.syntax--round,
atom-text-editor.editor .syntax--source .syntax--brace.syntax--round {
  color: #66f;
}
atom-text-editor.editor .syntax--text .syntax--meta.syntax--structure.syntax--list,
atom-text-editor.editor .syntax--source .syntax--meta.syntax--structure.syntax--list,
atom-text-editor.editor .syntax--text .syntax--meta.syntax--item-access,
atom-text-editor.editor .syntax--source .syntax--meta.syntax--item-access,
atom-text-editor.editor .syntax--text .syntax--brace.syntax--square,
atom-text-editor.editor .syntax--source .syntax--brace.syntax--square {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--meta.syntax--selector.syntax--css,
atom-text-editor.editor .syntax--source .syntax--meta.syntax--selector.syntax--css,
atom-text-editor.editor .syntax--text .syntax--brace.syntax--curly,
atom-text-editor.editor .syntax--source .syntax--brace.syntax--curly,
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--property-list,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--property-list {
  color: #444;
}
atom-text-editor.editor .syntax--text .syntax--dictionary,
atom-text-editor.editor .syntax--source .syntax--dictionary {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--dictionary.syntax--separator,
atom-text-editor.editor .syntax--source .syntax--dictionary.syntax--separator {
  color: #444;
}
atom-text-editor.editor .syntax--text .syntax--dictionary.syntax--separator.syntax--key-value,
atom-text-editor.editor .syntax--source .syntax--dictionary.syntax--separator.syntax--key-value {
  color: #444;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--separator.syntax--parameters,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--separator.syntax--parameters,
atom-text-editor.editor .syntax--text .syntax--comma,
atom-text-editor.editor .syntax--source .syntax--comma {
  color: #44f;
}
atom-text-editor.editor .syntax--text .syntax--period,
atom-text-editor.editor .syntax--source .syntax--period {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--constant,
atom-text-editor.editor .syntax--source .syntax--constant {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--constant.syntax--numeric,
atom-text-editor.editor .syntax--source .syntax--constant.syntax--numeric {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--keyword.syntax--operator,
atom-text-editor.editor .syntax--source .syntax--keyword.syntax--operator {
  color: #66f;
}
atom-text-editor.editor .syntax--text .syntax--keyword.syntax--control,
atom-text-editor.editor .syntax--source .syntax--keyword.syntax--control {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--keyword.syntax--control.syntax--import,
atom-text-editor.editor .syntax--source .syntax--keyword.syntax--control.syntax--import {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--variable,
atom-text-editor.editor .syntax--source .syntax--variable {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--variable.syntax--parameter.syntax--function,
atom-text-editor.editor .syntax--source .syntax--variable.syntax--parameter.syntax--function {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--string,
atom-text-editor.editor .syntax--source .syntax--string {
  color: #0a0;
}
atom-text-editor.editor .syntax--text .syntax--string.syntax--punctuation.syntax--definition,
atom-text-editor.editor .syntax--source .syntax--string.syntax--punctuation.syntax--definition {
  color: #060;
}
atom-text-editor.editor .syntax--text .syntax--inherited-class,
atom-text-editor.editor .syntax--source .syntax--inherited-class {
  color: #ff8;
}
atom-text-editor.editor .syntax--text .syntax--variable.syntax--assignment,
atom-text-editor.editor .syntax--source .syntax--variable.syntax--assignment {
  color: #ff8;
}
atom-text-editor.editor .syntax--text .syntax--property-name,
atom-text-editor.editor .syntax--source .syntax--property-name {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--separator.syntax--key-value,
atom-text-editor.editor .syntax--source .syntax--separator.syntax--key-value {
  color: #880;
}
atom-text-editor.editor .syntax--text.syntax--stylus,
atom-text-editor.editor .syntax--source.syntax--stylus {
  color: #44f;
}
atom-text-editor.editor .syntax--text .syntax--tag,
atom-text-editor.editor .syntax--source .syntax--tag {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--tag.syntax--entity,
atom-text-editor.editor .syntax--source .syntax--tag.syntax--entity {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--tag.syntax--class,
atom-text-editor.editor .syntax--source .syntax--tag.syntax--class {
  color: #aaf;
}
atom-text-editor.editor .syntax--text .syntax--tag.syntax--id,
atom-text-editor.editor .syntax--source .syntax--tag.syntax--id {
  color: #ff0;
}
atom-text-editor.editor .syntax--text .syntax--tag.syntax--punctuation,
atom-text-editor.editor .syntax--source .syntax--tag.syntax--punctuation,
atom-text-editor.editor .syntax--text .syntax--terminator,
atom-text-editor.editor .syntax--source .syntax--terminator {
  color: #444;
}
atom-text-editor.editor .syntax--text.syntax--noon,
atom-text-editor.editor .syntax--source.syntax--noon {
  color: #ff8;
}
atom-text-editor.editor .syntax--text .syntax--key.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--key.syntax--noon {
  color: #f80;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--array.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--array.syntax--noon {
  color: #88f;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--dense.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--dense.syntax--noon {
  color: #444;
  font-weight: bold;
}
atom-text-editor.editor .syntax--text .syntax--key.syntax--dense.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--key.syntax--dense.syntax--noon {
  color: #888;
}
atom-text-editor.editor .syntax--text .syntax--constant.syntax--color.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--constant.syntax--color.syntax--noon {
  color: #faa;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--bracket.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--bracket.syntax--noon {
  color: #884;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--dot.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--dot.syntax--noon {
  color: #a60;
  font-weight: bold;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--dim.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--dim.syntax--noon {
  color: #a60;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--regex.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--regex.syntax--noon {
  color: #f00;
  font-weight: bold;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--key.syntax--escape.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--key.syntax--escape.syntax--noon {
  color: #600;
  font-weight: bold;
}
atom-text-editor.editor .syntax--text .syntax--punctuation.syntax--value.syntax--escape.syntax--noon,
atom-text-editor.editor .syntax--source .syntax--punctuation.syntax--value.syntax--escape.syntax--noon {
  color: #333;
  font-weight: bold;
}
